<%
  let page_search = '';
  if (search) {
    page_search = `search=${search}&`;
  }
%>
<style>
  @media (max-width: 768px) {
    .info {
      flex-direction: column;
      align-items: flex-start !important;
    }

    .info .page-controls {
      align-self: flex-end;
      margin-top: 10px;
    }
  }
</style>
<div class="info d-flex align-items-center justify-content-between flex-wrap gap-2" style="width: 100%; margin-bottom: 10px;">

  <!-- 좌측: flex-grow로 너비 채움 -->
  <div class="d-flex align-items-center flex-wrap gap-2 flex-grow-1 min-w-0">
    <a href="/boards/new/edit">
      <button type="button" class="btn btn-dark new" id="write-button">
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i> 글쓰기
      </button>
    </a>

    <button type="button" class="btn btn-light btn-sm view">
      <% if (view === 'asc') { %>
        <i class="fa fa-sort-numeric-asc" aria-hidden="true" status="asc"></i>
      <% } else if (view === 'desc') { %>
        <i class="fa fa-sort-numeric-desc" aria-hidden="true" status="desc"></i>
      <% } else { %>
        <i class="fa fa-sliders" aria-hidden="true" status="default"></i>
      <% } %> 조회수
    </button>

    <button type="button" class="btn btn-light btn-sm like">
      <% if (like === 'asc') { %>
        <i class="fa fa-sort-numeric-asc" aria-hidden="true" status="asc"></i>
      <% } else if (like === 'desc') { %>
        <i class="fa fa-sort-numeric-desc" aria-hidden="true" status="desc"></i>
      <% } else { %>
        <i class="fa fa-sliders" aria-hidden="true" status="default"></i>
      <% } %> 좋아요
    </button>

    <select class="form-select form-select-sm line" style="width: 100px;">
      <%- selectOptionsHtml %>
    </select>

    <form action="/" class="d-flex align-items-center flex-grow-1" style="min-width: 150px; max-width: 400px;">
      <input class="form-control me-2" name="search" type="text" placeholder="제목을 입력하세요" value="<%=search%>" style="flex: 1;">
      <button class="btn btn-outline-success" type="submit">검색</button>
    </form>
  </div>

  <!-- 우측: 페이지 정보 및 버튼 -->
  <div class="page-controls d-flex align-items-center gap-2" style="white-space: nowrap;">
    <span><%= currentPage %> / <%= page_total %></span>
    <a href="<%= currentPage == 1 ? '#' : `/?${page_search}page=${currentPage - 1}` %>">
      <button type="button" class="btn btn-dark" <%= currentPage == 1 ? 'disabled' : '' %> >
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
      </button>
    </a>
    <a href="<%= page_total == currentPage ? '#' : `/?${page_search}page=${currentPage + 1}` %>">
      <button type="button" class="btn btn-dark" <%= page_total == currentPage ? 'disabled' : '' %> >
        <i class="fa fa-arrow-right" aria-hidden="true"></i>
      </button>
    </a>
  </div>
</div>
<table class="table table-hover list" style="border: 1px solid #ccc;">
    <col><col style="width:20%;"><col style="width:10%;"><col style="width:8%;"><col style="width:8%;">
    <thead>
      <tr>
        <th scope="col">제목</th>
        <th style="text-align:center;" scope="col">작성자</th>
        <th style="text-align:center;" scope="col">작성일</th>
        <th style="text-align:center;" scope="col">좋아요</th>
        <th style="text-align:center;" scope="col">조회수</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <% data.forEach(item => { %>
        <tr class="<%= item.user_id==authStatus.userId?'table-primary':''%>">
          <td>
            <a style="display:block; color:black; text-decoration-line: none; width:100%;" href="/boards/<%= item.id %>">
              <%= item.subject %>
              <span style="color:blue;"> <%= item.comment_count ? '['+item.comment_count+']' : '' %> </span>
              <% if (item.upload && item.upload.length > 0) { %>
                <span style="color:gray"><i class="fa fa-paperclip" aria-hidden="true"></i></span>
              <% } %>
            </a>
          </td>
          <td style="text-align:center;"><%= item.username %></td>
          <td style="text-align:center;"><%= item.created_at.toISOString().replace('T', ' ').substring(0, 10) %></td>
          <td style="text-align:center;"><%= item.like_count %></td>
          <td style="text-align:center;"><%= item.view %></td>
        </tr>
      <% }); %>
    </tbody>
</table>
<script>
  const isMobile = window.innerWidth <= 768;

  if (isMobile) {
    $(".btn").addClass("btn-sm");
    $(".new").html('<i class="fa fa-pencil-square-o" aria-hidden="true"></i>');
    $("table.list").css("font-size","10px");
    $("table.list thead tr th:nth-child(3)").html('<i class="fa fa-calendar-o" aria-hidden="true"></i>');
    $("table.list thead tr th:nth-child(4)").html('<i class="fa fa-thumbs-o-up" aria-hidden="true"></i>');
    $("table.list thead tr th:nth-child(5)").html('<i class="fa fa-eye" aria-hidden="true"></i>');
    $("table.list tbody tr").each( function() {
      const date = new Date( $(this).children("td:nth-child(3)").text() );
      const formattedDate = (date.getMonth() + 1).toString().padStart(2, '0') + '/' + date.getDate().toString().padStart(2, '0');
      $(this).children("td:nth-child(3)").text(formattedDate);
    });
  }

  $(".line").on("change", function() {
    let line = $(this).val();
    $.ajax({
      url: '/cookie',
      method: 'POST',
      data: {
        line: line
      },
      success: function(response) {
        console.log('suc');
        document.location.href = "/";
      },
      error: function(xhr, status, error) {
        console.log('error');
      }
    });
  });

  $(".btn.view").on("click", function() {
    let view;
    let status = $(this).children("i").attr("status");
    switch (status) {
      case 'asc':
        view = 'desc';
        break;
      case 'desc':
        view = 'default';
        break;
      default:
        view = 'asc';
        break;
    }

    $.ajax({
      url: '/cookie',
      method: 'POST',
      data: {
        view
      },
      success: function(response) {
        console.log('suc');
        location.reload();
      },
      error: function(xhr, status, error) {
        console.log('error');
      }
    });
  });

  $(".btn.like").on("click", function() {
    let like;
    let status = $(this).children("i").attr("status");
    switch (status) {
      case 'asc':
        like = 'desc';
        break;
      case 'desc':
        like = 'default';
        break;
      default:
        like = 'asc';
        break;
    }

    $.ajax({
      url: '/cookie',
      method: 'POST',
      data: {
        like
      },
      success: function(response) {
        console.log('suc');
        location.reload();
      },
      error: function(xhr, status, error) {
        console.log('error');
      }
    });
  });
</script>
</html>