<style>
  .content {
    display: flex;
  }
  textarea {
    width: 100%;
    height: 40px;
    border: none; /* 테두리 제거 */
    background-color: #f0f0f0; /* 배경색 설정 */
    border-bottom: 1px solid #bcbdbe; /* 검은색 밑줄 */
    outline: none; /* 포커스 시 테두리 없애기 */
    resize: none; /* 크기 조정 불가 */
    overflow-y: hidden; /* 세로 스크롤을 숨김 */
  }
  textarea:hover {
    border-bottom: 1px solid black;
  }
  .dropdown {
    float: right;
  }
</style>
<h3 style="background-color:white; padding:15px; width:100%; margin-bottom:10px; font-weight:bold;"><%= data[0].subject %></h3>
<div style="padding:10px; height:50px;">
  <b>작성자:</b> <%= data[0].username %> | <b>작성일자:</b> <%= data[0].created_at.toISOString().replace('T', ' ').substring(0, 19) %>
  <%- data[0].updated_at ? '<b>(수정됨)</b>':'' %>
  <% if(data[0].upload && data[0].upload.length > 0) { %>
  <div class="dropdown">
    <button class="btn btn-sm btn-secondary dropdown-toggle file" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fa fa-paperclip" aria-hidden="true"></i> 첨부파일
    </button>
    <ul class="dropdown-menu">
      <% let uploads = data[0].upload; %>
      <% uploads.forEach(item => { %>
        <li><a class="dropdown-item" href="<%= `/downloads/${item}` %>"><%= item %></a></li>
      <% }) %>
    </ul>
  </div>
  <% } %>
</div>
<div style="background-color:white; padding:15px; width:100%; margin-bottom:10px; white-space: pre-line;"><%= data[0].content %></div>
<br>
<button class="btn btn-light <%= authStatus.user_id?'like':'' %> <%= active?'active':'' %>"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> <span><%= like.length %></span> 좋아요</button>
<% if(data[0].user_id==authStatus.user_id) { %>
<div class="float-end">
  <a href="/boards/<%= id %>/edit">
    <button type="button" class="btn btn-dark edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 수정</button>
  </a>
  <a>
    <button class="btn btn-dark delete"><i class="fa fa-trash-o" aria-hidden="true"></i> 삭제</button>
  </a>
</div>
<% } %>
<br><br>
<div class="comments">
<% comment.forEach(item => { %>
  <div class="comment" id="<%= item.id %>" style="margin-top:10px;">
    <div class="info" style="margin-top:10px;">
      <span user_id="<%= item.user_id %>" style="padding-right:10px;"><b><%= item.username %></b></span>|
      <span style="padding:0 10px 0 10px;"><%= item.created_at.toISOString().replace('T', ' ').substring(0, 19)  %></span>
      <% if(authStatus.username==item.username) {%>
      <button type="button" class="btn btn-info editComment" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">수정</button>
      <% } %>
      <% if(authStatus.username==item.username) {%>
      <button type="button" class="btn btn-danger deleteComment" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">삭제</button>
      <% } %>
    </div>
    <div class="content" style="white-space: pre-line; min-height:40px;"><%= item.content %></div>
  </div>
<% }); %>
</div>
<% if(authStatus) { %>
<div class="writeComment" style="margin-top:10px; height:300px;">
  <textarea class="content" placeholder="댓글을 입력하세요"></textarea><br>
  <button class="btn btn-sm btn-primary saveComment">저장</button>
</div>
<% } else { %> 
  <h4><b>로그인 후 댓글 작성이 가능합니다.</b></h4> 
<% } %>
<script>
  <% let uploads = data[0].upload || ''; %>
  let deleteFile = <%- JSON.stringify(uploads) %>;
  deleteFile = deleteFile.length > 0 ? deleteFile: ''; //빈 배열로 처리되면 오류나서 이렇게 처리함.

  $(".btn.delete").click( function(){
    if(confirm("정말 삭제하시겠습니까?")){
      $.ajax({
        url: '/boards/<%=id%>',
        method: 'DELETE',
        success: function(response) {
          if(deleteFile){
            $.ajax({
              url: '/uploads',
              method: 'DELETE',
              data: {
                id: '<%=id%>',
                file: deleteFile
              },
              success: function(response) {
                console.log('파일 삭제 성공:', response);
                document.location.href = '/';
              },
              error: function(xhr, status, error) {
                console.log('파일 삭제 오류:', error);
              }
            });
          } else {
            document.location.href = '/';
          }
        },
        error: function(xhr, status, error) {
          console.log(xhr, status, error);
          alert("예기치 못한 에러가 발생 했습니다.")
        }
      });
    }
  });

  $(".btn.like").click( function(){
    let status;
    if( $(this).hasClass("active") ){
      status = 'DELETE'
      $(this).find("span").text( parseInt($(this).find("span").text()) - 1 )
    } else {
      status = 'POST'
      $(this).find("span").text( parseInt($(this).find("span").text()) + 1 )
    }
    $(this).toggleClass('active');

    $.ajax({
      url: '/likes/<%=id%>',
      method: status,
      success: function(response) {
        console.log(response);
      },
      error: function(xhr, status, error) {
        console.log(xhr, status, error);
        alert(xhr.responseText);
      }
    });
  });

  $(document).ready(function() {
    $(".__body__").on("input", "textarea", function() {
      if ($(this).val().indexOf("\n") === -1) {
        $(this).height(35);
      } else {
        $(this).height('auto');
        $(this).height(this.scrollHeight);
      }
    });
  });

  $(".btn.saveComment").click( function(){
    let content = $(".writeComment .content").val()
    $.ajax({
      url: '/comments',
      method: 'POST',
      data: { 
        board_id: '<%=id%>',
        parent_id: 0,
        content: content
      },
      success: function(response) {
        console.log(response)
        // 새로운 댓글을 즉시 추가
        let newComment = `
        <div class="comment" id="${response.comment.id}" style="margin-top:10px;">
          <div class="info" style="margin-top:10px;">
            <span user_id="${response.comment.user_id}" style="padding-right:10px;"><b>${response.comment.username}</b></span>|
            <span style="padding:0 10px 0 10px;">${new Date(response.comment.created_at).toISOString().replace('T', ' ').substring(0, 19)}</span>
            <button type="button" class="btn btn-info editComment" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">수정</button>
            <button type="button" class="btn btn-danger deleteComment" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">삭제</button>
          </div>
          <div class="content" style="white-space: pre-line; min-height:40px;">${response.comment.content}</div>
        </div>`;

        $(".comments").append(newComment);
        $(".writeComment .content").val("");
        $(".writeComment .content").height(35);
      },
      error: function(xhr, status, error) {
        console.log(xhr, status, error);
        alert("예기치 못한 에러가 발생 했습니다.")
      }
    });
  });

  $(".comments").on("click", ".btn.editComment", function() {
    const commentElement = $(this).closest(".comment");
    commentElement.children(".info").children(".editComment").text("저장");
    commentElement.children(".info").children(".editComment").attr("class","btn btn-primary resaveComment");
    commentElement.children(".content").html(`
      <textarea class="editContent" placeholder="댓글을 입력하세요">${commentElement.children(".content").text()}</textarea>
    `);
    $("textarea").trigger("input");
  });

  $(".comments").on("click", ".btn.resaveComment", function() {
    const commentElement = $(this).closest(".comment");
    const id = commentElement.attr("id");
    const content = commentElement.children(".content").children("textarea").val();
    commentElement.children(".info").children(".resaveComment").text("수정");
    commentElement.children(".info").children(".resaveComment").attr("class","btn btn-info editComment");
    commentElement.children(".content").text(content);
    
    $.ajax({
      url: '/comments',
      method: 'PATCH',
      data: { 
        id,
        content
      },
      success: function(response) {
        console.log(response);
      },
      error: function(xhr, status, error) {
        console.log(xhr, status, error);
        alert("예기치 못한 에러가 발생 했습니다.")
      }
    });
  });

  $(".comments").on("click", ".btn.deleteComment", function() {
    if(confirm("정말 삭제하시겠습니까?")){
      const commentElement = $(this).closest(".comment");
      const id = commentElement.attr("id");
      $.ajax({
        url: '/comments',
        method: 'DELETE',
        data: { 
          id
        },
        success: function(response) {
          console.log(response);
          commentElement.remove();  // 댓글 요소 삭제
        },
        error: function(xhr, status, error) {
          console.log(xhr, status, error);
          alert("예기치 못한 에러가 발생 했습니다.")
        }
      });
    }
  });
</script>
</html>